.search-container {
    position: relative;

    label {
      position: absolute;
      right: 0;
      opacity: 0;
    }
    input {
      padding: 1rem;
      padding-left: 4.5rem;
      font-family: inherit;
      font-size: var(--items-font-size);
      color: var(--color-input-text);
      background-color: var(--color-elements);
      border: none;
      outline: none;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
      width: clamp(280px, 30vw, 470px);
    }
    img{
      height: 1.56rem;
      position: absolute;
      left: 1.56rem;
      opacity: .9;
      top: calc(50% - 12.5px);
      filter: invert(var(--invert));

    }
    input::placeholder {
      color: var(--color-input-text);
    }
  }
  
 
// RESPONSIVENESS
  @media (max-width: 835px) {
    .search-container {
      width: 100%;
    }
  
    input {
      width: 100%;
    }
  }